.first{
    background-color: rgb(95, 207, 97);
}
.second{
    background-color: rgb(95, 207, 97);
}
.Third{
    background-color: rgb(95, 207, 97);
}
.Fourth{
    background-color: rgb(95, 207, 97);
}
.Fifth{
    background-color: rgb(95, 207, 97);
}
.Sixth{
    background-color: rgb(95, 207, 97);
}