.first{
    background-color: rgb(7, 6, 0);
}
.second{
    background-color: rgb(6, 0, 5);
}
.Third{
    background-color: black;
}
.Fourth{
    background-color: black;
}
.Fifth{
    background-color: black;
}
.Sixth{
    background-color: black;
}